{{!-- <div class="title">
  <h1>Go Golfing!</h1>
  <a href="/login">Login</a>
</div> --}}

<nav class="navbar navbar-expand-lg navbar-light " id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#averages">Averages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#topThree">Top Three Games</a>

    </div>
    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#score-modal">Add a New
      Game</button>

    {{#if user}}
    <button id="logout">Log Out</button>
    {{else}}
    </div>
      <a
        class="btn btn-outline-light"
        href="/google"
        role="button"
        style="text-transform:none; 
        background-color:#c7c6c6"
      >
        <img
          width="20px"
          style="margin-bottom:3px; margin-right:5px"
          alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
        />
        Sign in with Google
      </a>
    </div>
    {{/if}}
  </nav>


{{#if user}}
{{!-- user page when logged in --}}
<div class="card" id="averages" style="width: 50%;">
  <div class="card-body" id="average_card">
    <h5 class="card-title">Average Round Score
</h5>
  </div>
<a href="/api/scorecard">scorecard</a>
<!-- three games cards -->
<h2 id="topThree">Top Games</h2>
<a href="/scorecard/{{scorecard.id}}"></a>
<div class="container d-flex justify-content-around flex-wrap">
{{!-- loop through data to create cards --}}
  {{#each scorecard as |scorecard| }}
  <div class="card" style="width: 18rem;">
    <img src="./Assets/score card place holder.jpg" class="card-img-top" alt="Socre Card Goes Here">
    <div class="card-body">
      <h5 class="card-title">Game {{scorecard.id}}</h5>
      <p class="card-text">Total Score: {{scorecard.roundScore}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{else}}
<!-- averages card -->
<div class="card" id="averages" style="width: 50%;">
  <div class="card-body" id="average_card">
    <h5 class="card-title">Average Round Score</h5>
  </div>
</div>
<!-- three games cards -->
<h2 id="topThree">Top Three Games</h2>
<div class="container d-flex justify-content-around flex-wrap">
  <div class="card" style="width: 18rem;">
    <img src="./Assets/score card place holder.jpg" class="card-img-top" alt="Socre Card Goes Here">
    <div class="card-body">
      <h5 class="card-title">Game 1</h5>
      <p class="card-text">You need to score your card to display your data. </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./Assets/score card place holder.jpg" class="card-img-top" alt="Socre Card Goes Here">
    <div class="card-body">
      <h5 class="card-title">Game 2</h5>
      <p class="card-text">You need to score your card to display your data. </p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="./Assets/score card place holder.jpg" class="card-img-top" alt="Socre Card Goes Here">
    <div class="card-body">
      <h5 class="card-title">Game 3</h5>
      <p class="card-text">You need to score your card to display your data. </p>
    </div>
  </div>
</div>
{{/if}}

{{!-- Modal code --}}

<!-- Modal -->
<div class="modal fade" id="score-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-title">Score Card</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="new-scorecard-form">
          <div class="input-group mb-4">
            <i class="bi bi-calendar-date input-group-text"></i>
            <input type="text" class="datepicker_input form-control" id="date" placeholder="Date input 3 placeholder"
              required aria-label="Date input 3 (using aria-label)">
          </div>
          <div class="mb-3">
            <label for="FormControlInput1" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="coursename" placeholder="Course Name">
          </div>
          <div class="mb-3">
            <label for="FormControlInput2" class="form-label">Score</label>
            <input type="text" class="form-control" id="score" placeholder="Round Score">
          </div>
          <div class="mb-3">
            <label for="FormControlInput3" class="form-label">Round Notes</label>
            <textarea class="form-control" id="notes" rows="3"></textarea>
          </div>
          <div class="modal-footer form-group">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>